
.brand-logo {
    padding-left:15px !important;
    font-family:Print Clearly;
    font-size: 3em !important;
}

.compose-icon {
    height:100% !important;
    font-size:1.8em !important;
    line-height:40px !important;
}

.compose-btn {
    width:50px;
    padding:0
}
